@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

* {
  /* margin: 0;
  padding: 0; */
  font-family: 'Barlow', sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

main {
  padding: 0 1rem 1rem 1rem;
}

header {
  display: flex;
  padding: 1rem;
}

header .logo img {
  aspect-ratio: 1/1;
  width: 24px;
  height: 24px;
  border-radius: 0.5rem;
}

header h1 {
  font-size: 1.1rem;
  margin-left: 1rem;
}

#search-results {
  margin-top: 1rem;
}

#custom-search-results {
  margin-top: 1rem;
  display: grid;
  gap: 0.5rem;
}

.result-card {
  display: flex;
  background-color: white;
  border-radius: 0.5rem;
  position: relative;
  cursor: pointer;
  padding: 0.75rem;
}

.result-card__thumbnail {
  width: 42.5%;
  border-radius: 0.5rem;
}

.result-card__desc {
  margin-left: 1rem;
}

.result-card__desc h2 {
  font-size: 16px;
  font-weight: 600;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  background-color: white;
}

.result-card__desc__by {
  color: #9499a6;
  font-size: 12px;
  margin-top: 0.5rem;
}

.result-card__desc__meta {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 0.75rem;
  font-weight: 500;
  align-items: center;
}

#view-overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 99;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#view-overlay-actions {
  position: absolute;
  bottom: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.view-overlay__button {
  border: none;
  color: white;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

#view-overlay-visit {
  background: #2a8cff;
  margin-left: 1rem;
}

#view-overlay-close {
  background: #5d6067;
  margin-right: 1rem;
}

.gsc-control-cse {
  background-color: #fafafa !important;
  padding: 0 !important;
  border: none !important;
}

.gsc-result {
  border-bottom: none !important;
  padding-bottom: 0 !important;
}

.gsc-cursor-box {
  background: white !important;
  margin-top: 1rem !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.gcsc-more-maybe-branding-box {
  background: white;
  border: none !important;
}

.gsc-above-wrapper-area,
.gsc-adBlock {
  display: none !important;
}

@media screen and (min-width: 480px) {
  body {
    max-width: 420px;
    margin: 0 auto;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    min-height: 100vh;
  }
}
